{% extends "base.html" %}
{% block content %}
<div class="space-50"></div>
          <div class="content-area">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-12 col-md-12">
                  <div class="card">
                    <div class="card-header card-header-warning">
                      <h4 class="card-title">Catálogo de especies</h4>
                      <p class="card-category">Árboles, plantas y flores disponibles en el vivero</p>
                    </div>
                    <div class="card-body table-responsive">
                      <table class="table table-hover">
                        <thead class="text-warning">
                          <th>#</th>
                          <th>Fecha</th>
                          <th>Especie</th>
                          <th>Donaciones</th>
                          <th>Tipo</th>
                        </thead>
                        <tbody>
                          {% for _, item in data %}
                          <tr onclick="location.href='/especies/{{ item.especie }}'">
                            <td>{{ _ + 1 }}</td>
                            <td>{{ item.fecha }}</td>
                            <td>{{ item.especie }}</td>
                            <td>{{ item.piezas }}</td>
                            <td><i class="material-icons">nature_people</i></td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
{% endblock %}
