{% extends "base.html" %}
{% block content %}
<div id="wrapper">
    <div class="content-area">
        <div class="container-fluid">

                <div class="row mt-4">
                    <div class="col-md-5">
                            <div class="box columnbox mt-4">
                                <div id="columnchart"> </div>
                            </div>
                    </div>
                    <div class="col-md-7">
                            <div class="box  mt-4">
                                <div id="linechart"> </div>
                            </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5">
                            <div class="box radialbox mt-4">
                                    <div id="circlechart"> </div>
                                </div>
                    </div>
                    <div class="col-md-7">
                            <div class="box mt-4">
                                <div class="mt-4">
                                    <div id="progress1"></div>
                                </div>
                                <div class="mt-4">
                                    <div id="progress2"></div>
                                </div>
                                <div class="mt-4">
                                    <div id="progress3"></div>
                                </div>
                            </div>
                    </div>
                </div>

        </div>
    </div>
</div>
{% endblock %}
