{% extends "base.html" %}
{% block content %}
    <div class="content-area">
        <div class="container-fluid">

                <div class="space-50"></div>
                <div class="row">
                  <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                      <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                          <i class="material-icons">nature</i>
                        </div>
                        <p class="card-category">Donaciones totales</p>
                        <h3 class="card-title">18,930</h3>
                      </div>
                      <div class="card-footer">
                        <div class="stats">
                          <i class="material-icons">update</i> Actualizado hace un momento
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                      <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                          <i class="material-icons">eco</i>
                        </div>
                        <p class="card-category">Especies totales</p>
                        <h3 class="card-title">89</h3>
                      </div>
                      <div class="card-footer">
                        <div class="stats">
                          <i class="material-icons">update</i> Actualizado hace un momento
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                      <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                          <i class="material-icons">accessibility_new</i>
                        </div>
                        <p class="card-category">Beneficiarios</p>
                        <h3 class="card-title">1,835</h3>
                      </div>
                      <div class="card-footer">
                        <div class="stats">
                          <i class="material-icons">update</i> Actualizado hace un momento
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                      <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                          <i class="material-icons">delete</i>
                        </div>
                        <p class="card-category">Volumen de donaciones (Litros)</p>
                        <h3 class="card-title">25,345 L</h3>
                      </div>
                      <div class="card-footer">
                        <div class="stats">
                          <i class="material-icons">update</i> Actualizado hace un momento
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row mt-4">
                    <div class="col-md-8">
                        <div class="box shadow">
                            <div id="bar"> </div>
                        </div>
                    </div>
                    <div class="col-md-4">
						<div class="box shadow">
							<div id="radialBarBottom"> </div>
						</div>
					</div>
                </div>

                <div class="row mt-4">
                    <div class="col-md-12">
						<div class="box shadow">
                            <div id="chart"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="space-50"></div> -->
            <!-- <div class="content">
              <div class="container-fluid">

              <div class="row mt-4">
                  <div class="col-md-12">
                      <div class="box shadow">
                          <div id="bubbleChart"> </div>
                      </div>
                  </div>
              </div>

                <div class="row">
                  <div class="col-lg-12 col-md-12">
                    <div class="card">
                      <div class="card-header card-header-warning">
                        <h4 class="card-title">Employees Stats</h4>
                        <p class="card-category">New employees on 15th September, 2016</p>
                      </div>
                      <div class="card-body table-responsive">
                        <table class="table table-hover">
                          <thead class="text-warning">
                            <th>ID</th>
                            <th>Name</th>
                            <th>Salary</th>
                            <th>Country</th>
                          </thead>
                          <tbody>
                            <tr>
                              <td>1</td>
                              <td>Dakota Rice</td>
                              <td>$36,738</td>
                              <td>Niger</td>
                            </tr>
                            <tr>
                              <td>2</td>
                              <td>Minerva Hooper</td>
                              <td>$23,789</td>
                              <td>Curaçao</td>
                            </tr>
                            <tr>
                              <td>3</td>
                              <td>Sage Rodriguez</td>
                              <td>$56,142</td>
                              <td>Netherlands</td>
                            </tr>
                            <tr>
                              <td>4</td>
                              <td>Philip Chaney</td>
                              <td>$38,735</td>
                              <td>Korea, South</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
            <div class="space-50"></div>
            <div class="col-md-12 ml-auto">
              <button class="btn" onclick="location.href='http://datamx.io/'"><i class="material-icons">assessment</i> Descarga los datos (CSV)</button>
            </div>
        </div>
{% endblock %}
